.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.buttonHeaderContainer {
  min-width: 180px;
  display: flex;
  margin-top: 4px;
}

.cursor{
  cursor: pointer;
}

.mobil {
  display: none !important;
}

.desktop {
  display: initial !important;

}

@media (max-width:992px) {

  .mobil {
    display: initial !important;
  }

  .desktop {
    display: none !important;
  }

}